
@import './../../styles/common.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    background-color: $white;
    line-height: 32px;
    margin: 0 auto;
    padding: 24px 0;
    color: $card-title-color;

    @include tablet {
        padding: 24px;
        width: fit-content;
    }

    @include desktop {
        padding: 24px;
        width: fit-content;
    }

    .card-title {        
        font-weight: bold;
        font-size: 24px;
        width: min(80%, 300px);
        margin: 0 auto;
    }
    
    .image {
        display: flex;
        background-color: $background-color;
        margin: 0 auto 16px auto;
        width: min(80%, 300px);
        height: min(80%, 300px);
    }

    .header-text {
        font-weight: bold;
        color: $text-color;
        width: min(80%, 300px);
        margin: 0 auto;
        overflow-wrap: break-word;
    }

    .mission-ids {
        display: flex;
        flex-direction: column;
        width: min(80%, 300px);
        margin: 0 auto;
        ul, li {
            font-size: 14px;
            margin: 0;
            line-height: 24px;
        }
    }
    .launch-year {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        font-weight: 700;
        width: min(80%, 300px);
        margin: 0;
    }
}
