<div class="app-container">
  <h1>
    SpaceX Launch Programs
  </h1>
  <div class="filter-container">
    <div class="filter">
      <app-filter></app-filter>
    </div>
    <div class="container" [ngClass]="{'no-records': !launches?.length}" >
      <ng-container *ngFor="let data of launches">
        <app-card [data]="data"></app-card>
      </ng-container>
      <ng-container *ngIf="!launches?.length">
        <span>No Records Found</span>
      </ng-container>
    </div>
  </div>
  <h2 class="footer">
    <div>Developed by:&nbsp;</div>
    <div>Nitin Bharadwaj</div>
  </h2>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
