<div class="container">
    <span class="title">Filters</span>
    <span class="filter-title">Launch Year</span>
    <hr>
    <div class="filter-container">
        <ng-container *ngFor="let year of FILTER_YEARS">
            <a (click)="toggleSelection('launch_year', year)" [routerLink]="['../']" [queryParams]="{launch_year: year}"  [queryParamsHandling]="'merge'" [routerLinkActive]="'active-a'" [routerLinkActiveOptions]="{ exact: false }"><p>{{year}}</p></a>
        </ng-container>
    </div>
    <span class="filter-title">Successful Launch</span>
    <hr>
    <div class="filter-container">
        <ng-container *ngFor="let status of LAUNCH_STATUS">
            <a (click)="toggleSelection('launch_success', status)" [routerLink]="['../']" [queryParams]="{launch_success: status}"  [queryParamsHandling]="'merge'" [routerLinkActive]="'active-a'" [routerLinkActiveOptions]="{ exact: false }"><p>{{status}}</p></a>
        </ng-container>
    </div>
    <span class="filter-title">Successful Landing</span>
    <hr>
    <div class="filter-container">
        <ng-container *ngFor="let status of LAUNCH_STATUS">
            <a (click)="toggleSelection('land_success', status)" [routerLink]="['../']" [queryParams]="{land_success: status}"  [queryParamsHandling]="'merge'" [routerLinkActive]="'active-a'" [routerLinkActiveOptions]="{ exact: false }"><p>{{status}}</p></a>
        </ng-container>
    </div>
</div>
